@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;

  --color-red-100: #e67c7c;
  --color-red-300: #d64d4d;
  --color-red-500: #DB4444;
  --color-red-900: #FB1314;
  --color-green-500: #184A48;
  --color-green-900: #00FF66;
  --color-yellow-500: #FFAD33;
  --color-yellow-900: #EEFF61;
  --color-grey-100: #F5F5F5;
  --color-grey-200: #c1c0c1;
  --color-grey-300: #999;
  --color-grey-500: #7b7b7b;
  --color-grey-900: #808080;
  /* --color-white: #FAFAFA; */
  --color-white-500: #FBFBFB;
  --color-black: #000;
  --color-black-100: #212121;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
  font-size: 100%;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  touch-action: manipulation;
  background-color: #fff;
  font-family: "Poppins", sans-serif;
}

body {
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
  overflow-y: scroll;
  line-height: 1.5;
  margin: 0;
  color: #000;
  background-color: #fff;
  font-size: 1rem;
}
p {
  margin: 0;
}
ul {
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}